.cardContainer img {
  min-width: 100%;
  max-width: 100%;
  min-height: 325px;
  max-height: 325px;
  position: relative;
  top: 0px;
  align-self: center;
}

.cardContent {
  margin-bottom: 10px;
}

#card-buttons {
  display: flex;
  justify-items: flex-end;
  justify-content: space-around;
}

.cardContainer {
  margin-left: 8px;
  margin-right: 8px;
}

#details {
  display: flex;
  flex-direction: column;
}

/* 
MUI breakpoints
---------------
small: 600px
medium: 900px
large: 1200px */

@media screen and (max-width: 900px) {
  #projectCardContainer {
    width: 80% !important;
    flex-direction: column;
    margin: auto;
  }
}
