/* ============================================================ *\
*               Mary Elenius AAR&R Main Stylesheet              *
*                         06/05/2023                            *
\* -----------------------------------------------------------  */

/*                     Table of Contents:                       *\

* UNIVERSAL & VARIABLES
  ## Color Variables

* ELEMENTS
  ## Body

* TYPOGRAPHY 
  ## Text wrap
  ## Font Family
  ## Code blocks
  ## Header Tags

* COMPONENTS
 ## Styling for components are located in the /src/components/ directory in their respective folders

* PAGES
  ## About
  ## Contact
  ## Home
  ## Login
  ## No Match
  ## Order History
  ## Projects
  ## Signup
  ## Success

* HELPERS

/* ============================================================ *\
*                     Universal & Variables                      *
\* -----------------------------------------------------------  */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
}

button {
  color: var(--logo-red) !important;
}

/* ----------------      Color Variables       ---------------- */

/*       Color variables for easy selection throughout CSS      */
:root {
  --logo-red: #8c0303;
  --off-white: #d9bfa0;
  --darker-shade: #a68263;
  --darkest-shade: #8c583a;
}

header {
  background-color: var(--darker-shade) !important;
}

/* #A60311
#D9BFA0
#A68263
#8C583A
#730202 */

/* ============================================================ *\
*                           Elements                             *
\* -----------------------------------------------------------  */

/* ---------------------       Body       --------------------- */

/*          Element Selector to apply background color          */
body {
  background-color: var(--off-white);
}

a {
  color: var(--logo-red);
}

/* ============================================================ *\
*                           Flexbox                              *
\* -----------------------------------------------------------  */

/*                Class selector to apply flexbox                */
.flexbox {
  display: flex !important;
}

/*         Class selector to apply column flex direction         */
.flexColumn {
  flex-direction: column;
}

/*          Class selector to apply row flex direction           */
.flexRow {
  flex-direction: row;
}

.flexNoWrap {
  flex-wrap: nowrap;
}

.flexSpaceAround {
  justify-content: space-around;
}

.flexSpaceBetween {
  justify-content: space-between;
}

.justifyContentC {
  justify-content: center;
}

.justifyItemsC {
  justify-items: center;
}

.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
/* ============================================================ *\
*                          Typography                            *
\* -----------------------------------------------------------  */

/* -----------------       Code Block       ------------------- */

/*         Element selector to wrap code block contents         */
pre {
  /* Since CSS 2.1 */
  white-space: pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -moz-pre-wrap;
  /* Opera 4-6 */
  white-space: -pre-wrap;
  /* Opera 7 */
  white-space: -o-pre-wrap;
  /* Internet Explorer 5 */
  word-wrap: break-word;
}

/* -----------------       Font Family       ------------------ */

/* ------------------       Text Wrap       ------------------- */

/*              Class selector to apply text wrap               */
.text-wrap {
  /* Since CSS 2.1 */
  white-space: pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -moz-pre-wrap;
  /* Opera 4-6 */
  white-space: -pre-wrap;
  /* Opera 7 */
  white-space: -o-pre-wrap;
  /* Internet Explorer 5 */
  word-wrap: break-word;
}

.no-wrap {
  /* Since CSS 2.1 */
  white-space: nowrap;
  /* Mozilla, since 1999 */
  white-space: -moz-no-wrap;
  /* Opera 4-6 */
  white-space: -no-wrap;
  /* Opera 7 */
  white-space: -o-no-wrap;
  /* Internet Explorer 5 */
  word-wrap: normal;
}

/* -----------------       Header Tags       ------------------ */

/*              Class selector to apply text wrap               */
h1 {
  font-size: 2rem;
  margin: 0 !important;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

span.card-title {
  font-size: 2.5rem !important;
}
/*              Class selector to apply text wrap               */
/*              Class selector to apply text wrap               */
/*              Class selector to apply text wrap               */

/* ============================================================ *\
*                          Components                            *
\* -----------------------------------------------------------  */

/* -------------------       Header       --------------------- */

/* Navbar */
img#codedLogo {
  display: flex;
  height: 40px !important;
  width: 60px !important;
}

#nav {
  z-index: 10;
  position: relative;
}

#sidenav-overlay {
  z-index: 9;
  opacity: 0;
}

.navbar-fixed {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
}

/* ---------------       Card Container       ----------------- */
.cards {
  display: inline-block;
  margin-top: 65px;
}

/* --------------------       Card       ---------------------- */

/*         Class selector to set max width of card GIFs         */
.cardImage {
  max-width: 50px;
}

.card-content {
  display: flex;
  height: 4rem;
  align-self: center;
}

span.card-title {
  size: 1rem !important;
}

/* -------------------       Button       --------------------- */

/*    Element selector to remove inner outline when clicked     */
button,
input[type="submit"] {
  outline: none;
  border: none;
}

/*    Element selector to add animation + cursor when hovered    */
button:hover,
input[type="submit"] {
  cursor: pointer;
  transform: translateY(-0.25em);
}

/*   Class selector to change the color of the button effect    */
.waves-effect .waves-blight .waves-ripple {
  background-color: rgba(121, 85, 72, 0.65);
}

.btn-custom {
  width: auto;
  height: 36px;
}

/* -------------------       Footer       --------------------- */

/* ----------------       Material Icon       ----------------- */

/*  Class selector to apply padding when button text displayed  */
.icon-block {
  padding: 0 15px;
}

/*      Class selector to tell icons to inherit font size       */
.icon-block .material-icons {
  font-size: inherit;
}

/*           Class slector to remove margin on icons            */
i.no-margin {
  margin-right: 0px !important;
}

/* ============================================================ *\
*                            Pages                               *
\* -----------------------------------------------------------  */
/* --------------------       About       --------------------- */
#about-body {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

#about-content p {
  display: flex;
}
#contact-body {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

#donate-history-body {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}
/* lol */
#home-body {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

#welcome {
  text-align: center;
}

#dear {
  text-align: justify;
}

#home-text {
  text-align: justify;
  text-indent: 5%;
}
#login-body {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}
#noMatchContainer {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}
#profile-body {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}
#donate-body {
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  display: flex;
  justify-content: center;
}

.stepper {
  background-color: transparent !important;
}

#projects-body {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}
#signup-body {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}
#success-body {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

.title {
  background-color: transparent;
}

.css-26w9jf-MuiMobileStepper-dot {
  background-color: var(--logo-red) !important;
}

.title p {
  margin-top: 10px;
}

.step-label {
  margin-top: 40px;
}
/* --------------------       Home       ---------------------- */
#homepage-picture {
  width: 20%;
  align-self: center;
}

/* ============================================================ *\
*                         Media Queries                          *
\* -----------------------------------------------------------  */

/* ---------------       Hidden Elements       ---------------- */

/*    Class slector to prioritize hidden on medium and down     */
@media only screen and (max-width: 992px) {
  span.hide-on-med-and-down {
    display: none !important;
  }
}

/* ============================================================ *\
*                           Helpers                              *
\* -----------------------------------------------------------  */

/* ------------------       Margin Auto       ------------------ */
.marginAuto {
  margin: 3% 3%;
}

.margin1 {
  margin: 1% 1%;
}

/* ------------------       Margin Left Indent       ------------------ */
.marginLeft5 {
  margin-left: 5%;
}

.alignItemsC {
  align-items: center;
}

.alignContentC {
  align-content: center;
}

.cardWidth {
  max-width: 300px;
}

.contentWidth {
  max-width: 320px;
}

.width90 {
  width: 90vw !important;
}

.width100 {
  width: 100vw !important;
}
/* ============================================================ *\
*                        Example Heading                         *
\* -----------------------------------------------------------  */

/* -------------       Example Sub-Heading       --------------- */

.card-content {
  width: auto;
  max-width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: flex-start;
}

i {
  padding: auto 0;
}

div p {
  text-align: center;
  padding-left: 10px;
}

.hidden {
  display: none !important;
}

body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.my-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem !important;
  width: 90% !important;
}

.input-fill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
}

.flex-row-end {
  flex-direction: row;
  justify-content: end;
}

.button-margin {
  margin-top: 1rem;
}

.ifelse-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#projectCardContainer {
  display: flex;
  justify-content: space-around;
  position: relative;
}

#cart-list {
  display: flex;
  flex-direction: column;
}

#cart-details {
  display: flex;
  flex-direction: column !important;
  justify-content: space-around;
}

#cart-buttons {
  display: flex;
  justify-content: space-around;
}

#currentProductImage {
  display: flex;
  align-self: center;
}

#image404page {
  width: 150px;
  border-radius: 25px;
}

#noMatchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  padding: 3%;
}

#donation-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

#product-list {
  display: flex;
  flex-direction: column;
}

#our-products {
  display: flex;
  flex-direction: column;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-items: center;
  margin: auto;
  margin-top: 5%;
}

.contact-input {
  min-width: 100% !important;
  margin-top: 1rem !important;
}
#logo {
  width: 3rem;
}

#donate-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cat-gif {
  width: 300px;
  border-radius: 300px;
}
